body {
    margin: 0;
    padding: 0;
    height: 100vh;
}

.woman {
    width: 5rem;
    padding-top: 60px;
}


.card-img-top {
    height: 200px;
    width: 100%;
    object-fit: cover;
}

#accueil {
    min-height: 750px;
}

@media (min-width: 1023.98px) {
    .aPropos {
        text-align: justify;
    }
}
@media (max-width: 574.98px) {
    .aPropos {
        text-align: justify;
        font-size: 16px;
    }
}

.img-custom {
   width: 80px;
    }
